$threadline: 1px dotted #727272;
$threadline-active: 4px solid #2168c4;
$threadline-hover-padding: 4px;

.comment {
  position: relative;
  //don't hide sidebar!
  overflow: hidden;

  //hide old thread line
  .child {
    border-left: none;
  }
}

.threadline {
  position: absolute;
  top: 0;
  height: 100%;
  margin-top: 3.4em;

  //background-color: rgba(255,101,89,0.33);
  padding: $threadline-hover-padding;

  div {
    height: 100%;
    margin-top: -$threadline-hover-padding;
    border-left: $threadline;
  }
  &:hover {
    cursor: pointer;
    div {
      border-left: $threadline-active;
    }
  }
}